/**
 * ========================
 * Section Text
 * ========================
 */
.text {
   background-color:white;

}

.portfolio-header {
    color:#706c87;
}

#portfolio {
    height:200px;
    background-color:#332e56;
}