/**
 * ========================
 * Section Practicum
 * ========================
 */
#practicum {
    height:150px;
    background-color:#dce0e8;
}

img {
    margin:15px;
}

.practicum-text {
    margin-top:20px;
}